* {
    box-sizing: border-box;
  }

@font-face {
  font-family: 'UnlimitedPie'; /* Name your font family */
  src: url('ofont.ru_UnlimitedPie.ttf'); /* Locate the .ttf file within your directory*/
}

.page {
background-color: #F7F8F3;
}

h1, h2, h3 {
font-family:'UnlimitedPie', sans-serif;
text-transform: uppercase;
font-weight: 400;
}

p, button, span, h4, a {
font-family: 'Unbounded', sans-serif;
font-weight: 300;
}

a {
text-decoration: none;
}

.header__photo {
    background-image: url('low-angle-girl-holding-camera\ 1.png');
    padding-top: 20px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.page__menu {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 50px;
    border-color:rgb(0 0 0 / 50%);
    background-color:rgb(255 255 255 / 15%);
    width: 81vw;
    margin: 0 auto;
    padding: 10px 70px;
    /* backdrop-filter: blur(10px); */
}

.menu_mobile {
display: none;
}

.menu__list_desktop {
display: flex;
gap: 3em;
}

.menu__list_mobile {
display: none;
}

.menu__logo {
font-size: 1.2em;
font-weight: 400;
}

.menu__btn {
border: none;
background: none;
}

.menu__item {
font-size: 1.2em;
color: black;
}

.header__info {
width: 81vw;
margin: 0 auto;
}

h1 {
font-size: 2.9em;
text-align: left;
line-height: 1.3em;
}

.header__text {
    width: 50%;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 13px;
}

.frame {
    background: url(frame1.png) no-repeat center center;
    background-size: cover;
    height: 92px;
}

.services {
    padding-top: 72px;
    background: url(Frame__services.png) no-repeat center center;
    background-size: contain;
}

.services__info {
    width: 81vw;
    margin: 0 auto;
}

h2 {
    font-size: 3.1em;
    text-align: right;
    margin-bottom: 10px;
}

.servicesItem__title {
    line-height: 1.5em;
}

.services__text {
     width: 50%;
    font-size: 1.5em;
    text-align: right;
    line-height: 1.5em;
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 50px;
    border-color:rgb(0 0 0 / 50%);
    background-color:rgb(255 255 255 / 15%);
    padding: 42px 65px;
    margin: 35px 70px;
    backdrop-filter: blur(10px);
}

.services__item {
    width: 30%;
}

.services__img {
    width: 100%;
}

h3 {
    font-size: 1.625em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 8px;
}

.item__text {
    font-size: 1.4em;
    line-height: 1.5em;
}

.about {
    display: flex;
    align-items: center;
    justify-content: start;
    background: url(Frame_about.png) no-repeat center;
    background-size: contain;
    background-position: top;
    padding: 50px 0;
    margin-top: 50px;
}

.about__photo {
    width: 49vw;
}

.about__info {
    width: 51vw;
}

.about__title {
    text-align: center;
    font-size: 4em;
}

.about__content {
    width: 70%;
    margin: 0 auto;
}

.about__text {
    font-size: 1.75em;
    line-height: 1.5em;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 42px;
}

.about__text_low {
    font-size: 1.625em;
    line-height: 1.5em;
    text-align: center;
}

.advantages {
    background: url(Frame__advantages.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.advantages__block {
    border: 1px solid;
    border-radius: 50px;
    border-color:rgb(0 0 0 / 50%);
    background-color:rgb(255 255 255 / 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 90px ;
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px 100px;
    backdrop-filter: blur(10px);
}

.advantages__item {
    width: 370px;
    height: 370px;
    border-radius: 100%;
    background-color:rgb(255 255 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
}

.advantages__img {
    display: flex;
    justify-content: center;
}

.advantages__info {
    width: 80%;
}

.advantages__title {
    text-align: center;
    font-size: 1.375em;
    line-height: 1.5em;
}

.advantages__text {
    text-align: center;
    font-size: 0.9em;
    line-height: 1.4em;
}

.team__title {
    margin-top: 72px;
    margin-bottom: 29px;
    text-align: left;
    margin-left: 135px;
}

.team__block1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 99px;
    background: url(Frame__teamblock1.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 66px;
    width: 100vw;
}

.team__block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 99px;
    background: url(Frame__teamblock2.png) no-repeat center center;
    background-size: cover;
}

.team__img {
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 12%;
}

.team__name {
    font-size: 2.25em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.team__profecy {
    font-size: 1.625em;
}

.footer {
    padding-bottom: 74px;
}

.footer__title {
    font-size: 2.875em;
    font-weight: 500;
    text-align: center;
    width: 70vw;
    margin: 120px auto;
    text-transform: uppercase;
    line-height: 1.35em;
}

.footer__block {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.footer__item {
    border-radius: 50px;
    border: none;
    font-size: 1.375em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.footer__item_purple {
    background-color:#815CA3;
}

.footer__item_cyan {
    background-color:#5CC9E7;
}

.footer__item_pink {
    background-color:#FF2185;
}

.footer__item_purple:hover {
    background-color:#755493;
}

.footer__item_purple:active {
    background-color:#4E3366;
}

.footer__item_cyan:hover {
    background-color:#4495ab;
}

.footer__item_cyan:active {
    background-color:#285763;
}

.footer__item_pink:hover {
    background-color:#d41c6e;
}

.footer__item_pink:active {
    background-color:#a81d5b;
}

  @media (max-width: 425px) {
    
    :root {
        font-size: 12px;
    }

    .header__title, .about__title, .services__title, .team__title {
        font-size: 2.8em;
    }

    .header__photo {
        height: 30vh;
    }

    .page__menu {
        width: 86vw;
        padding: 10px 47.3px;
    }

    .menu_mobile {
        display: block;
      }

    .menu__list_desktop {
    display: none;
    }

    .menu__list_mobile {
    display: block;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 24.55px;
        height: 16px;
    }

    .burger::before, .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background: #000;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 7px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .menu__list_mobile {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        grid-auto-rows: min-content;
        margin: 0;
        background: #F7F8F3;
        transform: translateX(-100%);
        transition: .3s;
        width: 100vw;
        height: 100vh;
        padding-left: 50px;
        padding-top: 100px;
    }

    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }

    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }

    .burger-checkbox:checked ~ .menu__list_mobile {
        transform: translateX(0);
    }

    .burger-checkbox:checked + .burger::before {
        top: 7px;
        transform: rotate(42deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }

    .burger-checkbox:checked + .burger::after {
        bottom: 7px;
        transform: rotate(-42deg);
        transition: bottom .3s, transform .3s .15s;
      }

    .menu__item {
        font-size: 1.8em;
        font-weight: 400;
        color: black;
    }

    .header__info {
        width: 86vw;
    }

    .header__text {
        width: 86vw;
    }

    .services {
        padding-top: 22px;
    }

    .services__info {
        width: 86vw;
    }

    .services__text {
        font-size: 1.5em;
    }

    .services__block {
        width: 88.5vw;
        display: grid;
        gap: 28px;
        grid-auto-rows: min-content;
        padding: 30px;
        margin: 0 auto;
        position: relative;
    }

    .services__item {
        width: 100%;
        margin: 0 auto;
    }

    /* .services__item::before {
        content: '';
        background: url(Frame__services.png) no-repeat;
        background-size: 300%;
        width: 100vw;
        height: 100%;
        position: absolute;
        left: -6vw;
        z-index: -1;
} */

    .servicesItem__title {
        font-size: 2em;
    }

    .about {
        display: block;
        background: none;
        margin-top: 40px;
    }

    .about__photo {
        width: 100vw;
        height: auto;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
    }

    .about__info {
        width: 100%;
        background: url(Frame_about.png) no-repeat center;
        background-size: contain;
        background-position: top;
        padding-top: 40px;
    }

    .about__content {
        width: 86vw;
        margin: 0 auto;
    }

    .about__text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .advantages {
        background-size: contain;
    }

    .advantages__block {
        width: 86vw;
        margin: 0 auto;
        padding: 30px 15px;
    }

    .advantages__item {
        width: 330px;
        height: 330px;
    }

    .advantages__info {
        width: 76%;
    }

    .team__title {
        text-align: center;
        width: 86vw;
        margin: 80px auto 20px;
    }

    .team__block1, .team__block2 {
        width: 86vw;
        margin: 0 auto;
        gap: 30px;
    }

    .team__block1 {
        margin-bottom: 30px;
    }

    .team__img {
        width: 86vw;
        height: auto;
    }

    .team__name, .team__profecy {
        text-align: center;
    }

    .footer__title {
        font-size: 2.3em;
        text-align: left;
        width: 86vw;
        margin-top: 101px;
        margin-bottom: 60px;
    }

    .footer {
        width: 86vw;
        margin: 0 auto;
    }

    .footer__block {
        display: grid;
        gap: 15px;
        justify-content: left;
    }

    .footer__item {
        width: 242px;
    }
  } 
